footer.footer
    .container.container--footer
        .footer__left
            .footer__info
                span.footer__info-copyright © 2015-2018 «CODE»
                .footer__partners
                    h5.footer__title Сертифицированные партнеры:
                    .footer__partners-images
                        img(src="assets/img/pics/footer/bitrix.png", alt="bitrix")
                        img(src="assets/img/pics/footer/seopultpro.png", alt="seopultpro")
                span.footer__company-credentials ОГРН/ИНН: 3443132499
            .footer__contacts
                .footer__contacts-wrap
                    span.footer__contacts--tel.footer__contacts-text +7 (8442) 00-00-00
                    span.footer__contacts--vlg.footer__contacts-text 40005, г.Волгоград, Проспект им. В.И. Ленина 56А, оф. 737
                    span.footer__contacts--msk.footer__contacts-text 8(499)348-12-5700000, г. Москва,
                    a(href="mailto:code@wecode.ru ").footer__contacts--email.footer__contacts-text code@wecode.ru 
        .footer__right
            .footer__map
                .footer__map-wrap     
                    ul.footer__list
                        li.footer__list-item
                            a(href="#").footer__list-link Портфолио
                        li.footer__list-item
                            a(href="#").footer__list-link Заказать
                        li.footer__list-item
                            a(href="#").footer__list-link Услуги
                        li.footer__list-item
                            a(href="#").footer__list-link Цены
                        li.footer__list-item
                            a(href="#").footer__list-link Клиенты
                        li.footer__list-item
                            a(href="#").footer__list-link Вакансии
                        li.footer__list-item
                            a(href="#").footer__list-link Акции               
                    ul.footer__list
                        li.footer__list-item
                            a(href="#").footer__list-link Контакты
                        li.footer__list-item
                            a(href="#").footer__list-link Идея    
            .footer__buttons
                .footer__buttons-wrap
                    h5.footer__buttons-title.footer__title Заказать у нас проект или услугу
                    button.footer__buttons-order.btn Заказать
                .footer__buttons-wrap
                    h5.footer__buttons-title.footer__title Проконсультироваться с нами
                    button.footer__buttons-compose.btn Написать