header.header
      .header__top
        .container.container--header
          nav.header__nav
            ul.header__nav-list
              li.header__nav-item
                a(href='#').header__nav-link Портфолио
              li.header__nav-item
                a(href='#').header__nav-link Заказать
              li.header__nav-item
                a(href='#').header__nav-link Услуги
              li.header__nav-item
                a(href='#').header__nav-link Цены
              li.header__nav-item
                a(href='#').header__nav-link Клиенты
              li.header__nav-item
                a(href='#').header__nav-link Вакансии
              li.header__nav-item
                a(href='#').header__nav-link Акции
              li.header__nav-item
                a(href='#').header__nav-link Контакты
              li.header__nav-item
                a(href='#').header__nav-link Идея
          button.hamburger.hamburger--spring.menu-fix(type='button')
            span.hamburger-box
              span.hamburger-inner
          .menu
             .menu__left
             .menu__right
             ul.menu__items
               li.menu__item
                   a(href="#").menu__link Портфолио
               li.menu__item
                   a(href="#").menu__link Заказать
               li.menu__item
                   a(href="#").menu__link Услуги
               li.menu__item
                   a(href="#").menu__link Цены
               li.menu__item
                   a(href="#").menu__link Вакансии
               li.menu__item
                   a(href="#").menu__link Акции
               li.menu__item
                   a(href="#").menu__link Контакты
               li.menu__item
                   a(href="#").menu__link Идея    

          .header__search
            input(type='search' placeholder='Поиск...').search__field
            button.search__btn  
      .header__mid
        .container.container--header-mid
          .header__logo
            a(href="index.html").header__logo-link
              img(src="assets/img/icons/header/logo.png", alt="logo")
          .header__contacts
            span.header__contacts-telephone +7 (8442) 00-00-00
            span.header__contacts-telephone +7 (499) 348-12-57
          button.header__btn.btn Заказать
      .header__bot
        .container
          ul.header__bot-list
            li.bot__list-item.bot__list-item--promo
              a(href="#").bot__list-link
                .header__link-icon.header__link-icon--promo
                span.bot__list-desc Промо-сайт
            li.bot__list-item.bot__list-item--corporate
              a(href="#").bot__list-link
                .header__link-icon.header__link-icon--corporate
                span.bot__list-desc Корпоративный сайт
            li.bot__list-item.bot__list-item--store
              a(href="#").bot__list-link
                .header__link-icon.header__link-icon--store
                span.bot__list-desc Интернет-магазин
            li.bot__list-item.bot__list-item--portal
              a(href="#").bot__list-link
                .header__link-icon.header__link-icon--portal
                span.bot__list-desc Портал                        
            li.bot__list-item.bot__list-item--account
              a(href="#").bot__list-link
                .header__link-icon.header__link-icon--account
                span.bot__list-desc Личный кабинет
            li.bot__list-item.bot__list-item--seo
              a(href="#").bot__list-link
                .header__link-icon.header__link-icon--seo
                span.bot__list-desc SEO продвижение
            li.bot__list-item.bot__list-item--bitrix
              a(href="#").bot__list-link
                .header__link-icon.header__link-icon--bitrix
                span.bot__list-desc Битрикс-24
            li.bot__list-item.bot__list-item--support
              a(href="#").bot__list-link
                .header__link-icon.header__link-icon--support
                span.bot__list-desc Техническая поддержка
            li.bot__list-item.bot__list-item--design
              a(href="#").bot__list-link
                .header__link-icon.header__link-icon--design
                span.bot__list-desc Дизайн
            li.bot__list-item.bot__list-item--logo
              a(href="#").bot__list-link
                .header__link-icon.header__link-icon--logo
                span.bot__list-desc Логотип