extends ../_template
block content
  section.slider
    .slider__btns
    .slider__dots
    .slider__progress-bar
      .slider__progress-percents
    .slider-wrap
      .slider__item
        .mask
          .blured-background
        .container--column.container--slider
          .slider__work
            h2.slider__site-name Сайт компании “ПЛАСТ СЕРВИС”
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...
            a(href="#").slider__button Подробнее
      .slider__item
        .mask
          .blured-background
        .container--column.container--slider
          .slider__work
            h2.slider__site-name Сайт компании “пласт сервис”
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...
            a(href="#").slider__button Подробнее
      .slider__item
        .mask
          .blured-background
        .container--column.container--slider
          .slider__work
            h2.slider__site-name Сайт компании “пласт сервис”
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...
            a(href="#").slider__button Подробнее
      .slider__item
        .mask
          .blured-background
        .container--column.container--slider
          .slider__work
            h2.slider__site-name Сайт компании “пласт сервис”
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...
            a(href="#").slider__button Подробнее  
      .slider__item
        .mask
          .blured-background
        .container--column.container--slider
          .slider__work
            h2.slider__site-name Сайт компании “пласт сервис”
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...
            a(href="#").slider__button Подробнее   
  section.offers
    .container--column
        h2.offers__title Интернет решения
        ul.offers__solutions-list
          li.offers__solutions-item.hovered.hovered--promo
            a(href="#").offers__link
              .offers__solutions-icon.promo
              h4.offers__solutions-title Промо-сайт
              span.offers__solutions-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
            
          li.offers__solutions-item.hovered.hovered--corporate
            a(href="#").offers__link
              .offers__solutions-icon.corporate
              h4.offers__solutions-title Корпоративный сайт
              span.offers__solutions-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            
          li.offers__solutions-item.hovered.hovered--store
            a(href="#").offers__link
              .offers__solutions-icon.store
              h4.offers__solutions-title Интернет-магазин
              span.offers__solutions-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            
          li.offers__solutions-item.hovered.hovered--portal
            a(href="#").offers__link
              .offers__solutions-icon.portal
              h4.offers__solutions-title Портал
              span.offers__solutions-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            
        h2.offers__title Web интеграция
        ul.offers__integration-list
          li.offers__solutions-item.hovered.hovered--account
            a(href="#").offers__link
              .offers__solutions-icon.account
              h4.offers__solutions-title Личный кабинет
              span.offers__solutions-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          li.offers__solutions-item.hovered.hovered--bitrix
            a(href="#").offers__link
              .offers__solutions-icon.bitrix
              h4.offers__solutions-title Битрикс 24
              span.offers__solutions-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

          li.offers__integration-item.offers__integration-item--ads
            .offers__item-wrap
              h3.offers__ads-title Удвоим продажи за <span>30</span> дней
              span.offers__ads-desc Рекламируясь в Яндекс.Директ и Google AdWords...
        h2.offers__title Прочие услуги  
        ul.offers__misc-list
          li.offers__solutions-item.hovered.hovered--tech
            a(href="#").offers__link
              .offers__solutions-icon.support
              h4.offers__solutions-title Техническая поддержка
              span.offers__solutions-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
            
          li.offers__solutions-item.hovered.hovered--design
            a(href="#").offers__link
              .offers__solutions-icon.design
              h4.offers__solutions-title Дизайн
              span.offers__solutions-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            
          li.offers__solutions-item.hovered.hovered--store
            a(href="#").offers__link
              .offers__solutions-icon.store
              h4.offers__solutions-title Логотип
              span.offers__solutions-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            
          li.offers__solutions-item.hovered.hovered--seo
            a(href="#").offers__link
              .offers__solutions-icon.seo
              h4.offers__solutions-title SEO продвижение
              span.offers__solutions-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  
  section.partners
    .container.container--partners
      ul.partners__list
        li.partners__item.partners__count
          span.partners__count-more Более
          span.partners__count-percents 50 Проектов
        li.partners__item
          img(src="assets/img/pics/partners/clickmedia-logo.jpg", alt="clickmedia-logo")
        li.partners__item
          img(src="assets/img/pics/partners/climat-logo.jpg", alt="climat-logo")
        li.partners__item
          img(src="assets/img/pics/partners/plast-service.jpg", alt="plast-service")    
  section.articles
    .container.container--articles
      .articles__left
        h3.articles__title Полезные новости
        article.articles__item 
          h4.articles__article-title Внедрение рекламных компаний: что это и сколько стоит?
          span.articles__date 02.01.2016
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          .articles__buttons
            a(href="#").articles__link Подробнее
        article.articles__item 
          h4.articles__article-title Удвоение продаж за 30 дней
          span.articles__date 02.01.2016
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          .articles__buttons
            a(href="#").articles__link Подробнее  
        button.articles__follow-btn.btn Оформить рассылку      
      .articles__right
        .articles__controls
          .articles__controls-left
          .articles__controls-right
        h3.articles__title Выгодное предложение
        ul.articles__offers
          li.articles__offers-item.articles__offers--ads
            a(href="#").articles__offers-link
              .offers__item-wrap.offers__item-wrap--articles
                h3.offers__ads-title Удвоим продажи за <span>30</span> дней
                span.offers__ads-desc Рекламируясь в Яндекс.Директ и Google AdWords...
          li.articles__offers-item.articles__offers--ads
            a(href="#").articles__offers-link
              .offers__item-wrap.offers__item-wrap--articles
                h3.offers__ads-title Удвоим продажи за <span>30</span> дней
                span.offers__ads-desc Рекламируясь в Яндекс.Директ и Google AdWords...   
  section.portfolio
    .container--column.container--portfolio
      h2.portfolio__title Портфолио
      ul.portfolio__tabs
        li.portfolio__tabs-item
          a(href="#1").portfolio__tabs-link 2018
        li.portfolio__tabs-item
          a(href="#1").portfolio__tabs-link 2017
        li.portfolio__tabs-item
          a(href="#1").portfolio__tabs-link 2016
      .portfolio__works
        ul.portfolio__works-list
          li.portfolio__works-item
            a(href="#").portfolio__works-link
              img(src="assets/img/pics/portfolio/gaz.jpg", alt="")
              h4.portfolio__works-title Сайт компании "Газэнергострой"
              span.portfolio__works-date 2017/02
              span.portfolio__works-city г.Москва
          li.portfolio__works-item
            a(href="#").portfolio__works-link
              img(src="assets/img/pics/portfolio/gaz.jpg", alt="")
              h4.portfolio__works-title Сайт компании "Газэнергострой"
              span.portfolio__works-date 2017/02
              span.portfolio__works-city г.Москва
          li.portfolio__works-item
            a(href="#").portfolio__works-link
              img(src="assets/img/pics/portfolio/gaz.jpg", alt="")
              h4.portfolio__works-title Сайт компании "Газэнергострой"
              span.portfolio__works-date 2017/02
              span.portfolio__works-city г.Москва
          li.portfolio__works-item
            a(href="#").portfolio__works-link
              img(src="assets/img/pics/portfolio/gaz.jpg", alt="")
              h4.portfolio__works-title Сайт компании "Газэнергострой"
              span.portfolio__works-date 2017/02
              span.portfolio__works-city г.Москва
          li.portfolio__works-item
            a(href="#").portfolio__works-link
              img(src="assets/img/pics/portfolio/gaz.jpg", alt="")
              h4.portfolio__works-title Сайт компании "Газэнергострой"
              span.portfolio__works-date 2017/02
              span.portfolio__works-city г.Москва
          li.portfolio__works-item
            a(href="#").portfolio__works-link
              img(src="assets/img/pics/portfolio/gaz.jpg", alt="")
              h4.portfolio__works-title Сайт компании "Газэнергострой"
              span.portfolio__works-date 2017/02
              span.portfolio__works-city г.Москва
          li.portfolio__works-item
            a(href="#").portfolio__works-link
              img(src="assets/img/pics/portfolio/gaz.jpg", alt="")
              h4.portfolio__works-title Сайт компании "Газэнергострой"
              span.portfolio__works-date 2017/02
              span.portfolio__works-city г.Москва
          li.portfolio__works-item
            a(href="#").portfolio__works-link
              img(src="assets/img/pics/portfolio/gaz.jpg", alt="")
              h4.portfolio__works-title Сайт компании "Газэнергострой"
              span.portfolio__works-date 2017/02
              span.portfolio__works-city г.Москва
          li.portfolio__works-item
            a(href="#").portfolio__works-link
              img(src="assets/img/pics/portfolio/gaz.jpg", alt="")
              h4.portfolio__works-title Сайт компании "Газэнергострой"
              span.portfolio__works-date 2017/02
              span.portfolio__works-city г.Москва                   
      button.portfolio__btn.btn Больше работ
  section.advantages
    .container--column.container--advantages
      h2.advantages__title Нас выгодно отличает:
      ul.advantages__list
        li.advantages__item
          .advantages__icon.advantages__icon--security
          h3.advantages__item-title Надёжность
          p Когда нужно выбрать одного проверенного исполнителя
        li.advantages__item
          .advantages__icon.advantages__icon--attention
          h3.advantages__item-title ВНИМАНИЕ К МЕЛОЧАМ
          p Когда сами до конца не знаете как все будет работать
        li.advantages__item
          .advantages__icon.advantages__icon--deadline
          h3.advantages__item-title СОБЛЮДЕНИЕ СРОКОВ
          p Когда важны сроки и нельзя рисковать    




      


